<link rel='stylesheet' href='/stylesheets/views/index.css' />
<div id="app">
	<div class="container-fluid page-header">
	</div>
	<div class="container-fluid filter-group">
		<div class="container padding-t-20">
			<div class="filter-name">
				<span>技术分类：</span>
			</div>
			<div class="filter-item">
				<ul class="technology-category">
					<li v-for="category in categoryList">
						<a href="javascript:" :class="{'active': filterCategory == category.technologyCategoryID}" v-text="category.technologyCategoryName"
							@click="onFilterByCategory(category.technologyCategoryID)"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container list-data">
		<div class="row">
			<div class="col-md-3 padding-b-10" v-for="student in studentList">
				<div class="box-portlet">
					<div class="row padding-t-10">
						<div class=" col-xs-5">
							<img :src="student.photo != '' ? student.photo : '/images/user.png'"
								class="student-photo img-circle img-responsive">
						</div>
						<div class="col-xs-7">
							<div>
								<label class="control-label" v-text="student.fullName"></label>
							</div>
							<div>
								<label class="control-label" v-text="student.sex == 'M' ? '男' : '女'"></label>
							</div>
							<div>
								<label class="control-label" v-text="student.universityName">西安理工大学</label>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-5">
							<label class="control-label">专业:</label>
						</div>
						<div class="col-xs-7 text-right" v-text="student.majorName">
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-5">
							<label class="control-label">技术:</label>
						</div>
						<div class="col-xs-7 text-right" v-text="student.technologyName">
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-5">
							<label class="control-label">掌握知识点:</label>
						</div>
						<div class="col-xs-7 text-right" v-text="student.finishedKnowledgeCount + '个'">
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-5">
							<label class="control-label">就业测评:</label>
						</div>
						<div class="col-xs-7 text-right" v-text="student.finishedUnitExercisesCount + '道'">
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-5">
							<label class="control-label">能力级别:</label>
						</div>
						<div class="col-xs-7 text-right" v-text="student.abilityLevel">
							L1
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-4">
							<label class="control-label">站内排名:</label>
						</div>
						<div class="col-xs-8 text-right" v-text="'超过站内' + student.positionSite + '%的同学'">
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-12">
							<button type="button" class="btn btn-info btn-block">详细信息</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p class="padding-t-25"
					v-text="'共查询到' + totalCount + '名满足条件的人员，当前显示第' + fromIndex + '到第' + toIndex + '名人员'"></p>
			</div>
			<div class="col-xs-6">
				<nav class="text-right">
					<ul class="pagination">
						<li :class="{'disabled': prePageNum == -1}">
							<a href="javascript:" @click="onFirstPage()"><i class="fa fa-angle-double-left"></i></a>
						</li>
						<li :class="{'disabled': prePageNum == -1}">
							<a href="javascript:" @click="onPrePage()"><i class="fa fa-angle-left"></i></a>
						</li>
						<li v-for="pagination in paginationArray" :class="{'active': pageNumber == pagination}">
							<a href="javascript:" v-text="pagination" @click="onPagination(pagination)"></a>
						</li>

						<li :class="{'disabled': nextPageNum == -1}">
							<a href="javascript:" @click="onNextPage()"><i class="fa fa-angle-right"></i></a>
						</li>
						<li :class="{'disabled': nextPageNum == -1}">
							<a href="javascript:" @click="onLastPage()"><i class="fa fa-angle-double-right"></i></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		commonUtility.appendScript('/javascripts/views/index.js');
	});
</script>