<!DOCTYPE html>
<html>
<head>
	<title>上书房智慧教育 企业端 {{title}}</title>
	<link href="/images/favicon.ico" rel="shortcut icon"/>
	<link rel='stylesheet' href='/stylesheets/framework/bootstrap-3.3.7/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/plugins/dropdown/dropdown.css' />
	<link rel='stylesheet' href='/stylesheets/plugins/font-awesome-4.7.0/font-awesome.min.css' />
	<link rel='stylesheet' href='/stylesheets/views/style.css' />
	<script src="/javascripts/framework/jquery-2.2.0/jquery-2.2.0.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="/images/logo_web.png" alt="Logo">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">人才中心</a></li>
						<li><a href="#">企业人才库</a></li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">登录</a></li>
						<li><a href="#">注册</a></li>
						
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
	{{{body}}}
	<div class="container-fluid shf-footer">
		<div class="container">
			<div>dsfsfsffsf</div>
		</div>
	</div>
	
	<script src="/javascripts/framework/bootstrap-3.3.7/bootstrap.min.js"></script>
	<script src="/javascripts/framework/vue_v2.6.11/vue.min.js"></script>
	<script src="/javascripts/framework/axios/axios.min.js"></script>
	<script src="/javascripts/common/dataVerify.js"></script>
	<script src="/javascripts/common/commonUtility.js"></script>
	<script src="/stylesheets/plugins/layer/layer.min.js"></script>
	<script src="/javascripts/common/messager.js"></script>
	<script src="/javascripts/common/localMessage.js"></script>
</body>

</html>