<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>上书房智慧教育 企业端 {{title}}</title>
	<link href="/images/favicon.ico" rel="shortcut icon" />
	<link rel='stylesheet' href='/stylesheets/framework/bootstrap-3.3.7/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/plugins/dropdown/dropdown.css' />
	<link rel='stylesheet' href='/stylesheets/plugins/font-awesome-4.7.0/font-awesome.min.css' />
	<link rel='stylesheet' href='/stylesheets/views/style.css' />
	<link rel='stylesheet' href='/stylesheets/views/login.css' />
	<script src="/javascripts/framework/jquery-2.2.0/jquery-2.2.0.min.js"></script>
</head>

<body>
	<div class="container login-header">
		<div class=" logo">
			<a href="/index">
				<img src="/images/logo_web.png" alt="Logo">
			</a>
		</div>
		<div class="welcome">
			<span>欢迎登录</span>
		</div>
	</div>
	<div class="login-content">
		<div class="login-form" id="app">
			<form>
				<div class=" text-center">
					<h3>企业用户登录</h3>
				</div>
				<div class="form-group" :class="{'has-error': cellphoneInValid}">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-user"></i>
						</span>
						<input type="text" class="form-control" maxlength="11" v-model="cellphone" placeholder="请输入手机号码">
					</div>
				</div>
				<div class="form-group" :class="{'has-error': passwordInValid}">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-lock"></i>
						</span>
						<input type="password" class="form-control" maxlength="20" v-model="password" placeholder="请输入密码">
					</div>
				</div>
				<div class="form-group row">
					<div class=" col-md-6">
						<a href="/register">立即注册</a>
					</div>
					<div class=" col-md-6 text-right">
						<a href="/forgetPassword">忘记密码</a>
					</div>
				</div>
				<div>
					<button type="button" class=" btn btn-primary btn-block" @click="onLogin()">登录</button>
				</div>
			</form>
		</div>
	</div>
	<div class="container-fluid login-footer">
		<div class="container">
			<div class="footer-content">
				<div>
					<a href="http://www.shangshufang.top/about" target="_blank">关于我们</a>
					<span class="split"> | </span>
					<a href="http://www.shangshufang.top/contact" target="_blank">联系我们</a>
					<span class="split"> | </span>
					<a href="http://www.shangshufang.top/cooperation" target="_blank">客户合作</a>
					<span class="split"> | </span>
					<a href="http://www.shangshufang.top/join" target="_blank">加入我们</a>
					<span class="split"> | </span>
					<a href="http://student.shangshufang.top/ability/level" target="_blank">级别标准</a>
				</div>
				<div class=" margin-t-5">
					<span>联系电话：18182505299</span>
					<span>&copy; 2020~2021 西安樱桃谷信息技术有限公司</span>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="container login-footer">
		页脚
	</div> --}}
</body>

<script src="/javascripts/framework/bootstrap-3.3.7/bootstrap.min.js"></script>
<script src="/javascripts/framework/vue_v2.6.11/vue.min.js"></script>
<script src="/javascripts/framework/axios/axios.min.js"></script>
<script src="/javascripts/common/dataVerify.js"></script>
<script src="/javascripts/common/commonUtility.js"></script>
<script src="/stylesheets/plugins/layer/layer.min.js"></script>
<script src="/javascripts/common/messager.js"></script>
<script src="/javascripts/common/localMessage.js"></script>
<script src="/javascripts/common/Constants.js"></script>
<script src="/javascripts/views/login.js"></script>

</html>