body {
	font: 14px "Microsoft YaHei" !important;
    color: #646c9a;
	background: #fbfafb;
}
.navbar {
	padding-top: 15px;
}
.navbar-brand img {
	height: 40px;
	margin-top: -9px;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #fbfafb;
}
.shf-footer {
	background-color: #383840;
	margin-top: 15px;
    color: #999;
	height: 100px;
}
.box-portlet {
	background-color: #ffffff;
	border: 1px solid #ececec;
	padding: 10px;
}
.padding-b-15 {
	padding-bottom: 15px;
}
.padding-b-10 {
	padding-bottom: 10px;
}
.padding-t-20 {
	padding-top: 20px;
}
.padding-t-25 {
	padding-top: 25px;
}
.padding-t-10 {
	padding-top: 10px;
}
.margin-t-5 {
	margin-top: 5px;
}
.margin-t-10 {
	margin-top: 10px;
}
.margin-t-15 {
	margin-top: 15px;
}
.margin-t-25 {
	margin-top: 25px;
}
.pre-wrap {
    white-space: pre-wrap;
}
.page-header {
	margin-top: 80px;
	max-height: 150px;
    height: 150px;
    background: url(/images/growing_map_header.png) no-repeat;
    background-size: 100% 100%;
}
.navbar-login a:hover {
	color: #0286ee !important;
}
.footer-content {
	width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.footer-content a {
	color: #bbbaba;
	text-decoration: none;
}
.footer-content span {
	color: #bbbaba;
}